.icon
  display block
  width 90px
  height 127px
  background-repeat no-repeat
  background-size cover
  background-position center
  &.icon1
    background-image url(../images/icon/1.png)
  &.icon2
    background-image url(../images/icon/2.png)
